<!DOCTYPE html>
<html>
<head>
	<base href="https://permatakurnia.github.io/"/>
    <!-- <base href="file:///C:/laragon/www/pk/"/> -->
    <div ng-include="'templates/head.html'"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="myApp">
    <div class="wrapper">
        
        <!-- header -->
        <div ng-include="'templates/header.html'"></div>
 
        <!-- side-bar -->
        <div ng-include="'templates/side-bar.html'"></div>
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- //CONTAIN START HERE -->

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Analysis
                    <small>Analysis pelajar</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="col-lg-12">
	                <div class="row">
	                	<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<label class="control-label col-md-4">Pilih jenis graph</label>
									<div class=" col-md-8">
										<select class="form-control" ng-model="graph">
											<option value="" >Pilih jenis graph</option>
											<option value="pelajar" >Graph pelajar</option>
											<option value="kelas" >Graph kelas</option>
											<option value="keseluruhan" >Graph keseluruhan</option>
										</select>
									</div>		
								</div>
								<div class="box-body">
									<div class="col-md-6" ng-if="graph === 'pelajar'">
										<label class="control-label col-md-4">Pelajar</label>
										<div class="col-md-8">
										    <input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6"  ng-if="graph === 'pelajar' || graph === 'kelas'">
										<label class="control-label col-md-4">Kelas</label>
										<div class="col-md-8">
										    <input type="text" class="form-control">
										</div>
									</div>

									<div class="col-md-6"  ng-if="graph === 'kelas' || graph === 'keseluruhan'">
										<label class="control-label col-md-4">Tarikh</label>
										<div class="date col-md-8">
                        					<input class="form-control datepicker" type="date"></input>
										</div>
									</div>
									<div class="col-md-6"  ng-if="graph === 'pelajar'">
										<label class="control-label col-md-4">Tarikh Mula</label>
										<div class="date col-md-8">
                        					<input class="form-control datepicker" type="date"></input>										</div>
									</div>
									<div class="col-md-6" ng-if="graph === 'pelajar'">
										<label class="control-label col-md-4">Tarikh Akhir</label>
										<div class="date col-md-8">
											<input class="form-control datepicker" type="date"></input>

										</div>
									</div>
								</div>
							</div>
						</div>
	                </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
						<div id="anlytic" style="height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="plugins/angular/angular.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);

        angular.module('myApp', []);

    	$('.datepicker').datepicker({
            autoclose: true
        });
        $(function () {

		    $('#anlytic').highcharts({

		        chart: {
		            type: 'column'
		        },

		        title: {
		            text: 'Graph pelajar : Azmi'
		        },

		        xAxis: {
		            categories: ['January', 'February', 'Pears', 'Grapes', 'Bananas']
		        },

		        yAxis: {
		            allowDecimals: false,
		            min: 0,
		            title: {
		                text: 'Kemahiran Berkomunikasi'
		            }
		        },

		        tooltip: {
		            formatter: function () {
		                return '<b>' + this.x + '</b><br/>' +
		                    this.series.name + ': ' + this.y + '<br/>' +
		                    'Total: ' + this.point.stackTotal;
		            }
		        },

		        plotOptions: {
		            column: {
		                stacking: 'normal'
		            }
		        },

		        series: [{
		            name: 'John',
		            data: [5, 3, 4, 7, 2],
		            stack: 'male'
		        }, {
		            name: 'Joe',
		            data: [3, 4, 4, 2, 5],
		            stack: 'male'
		        }, {
		            name: 'Jane',
		            data: [2, 5, 6, 2, 1],
		            stack: 'female'
		        }, {
		            name: 'Janet',
		            data: [3, 0, 4, 4, 3],
		            stack: 'female'
		        }]
		    });
		});

    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
</body>

</html>