<div class="box box-info">
  <div class="box-header ">
    <h3 class="box-title"><strong>Media </strong></h3>
  </div>
  <div class="box-header">
    <a class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#uploadMediaModal">Tambah media</a>
    <h2 class="box-title">Gambar pelajar, gambar aktiviti dan video</h2>
  </div>
    
  <!-- /.box-header -->
  <div class="box-body">

    <!-- GAMBAR PELAJAR -->
    <div class="box-header alert-info">
      <h2 class="box-title">Gambar Pelajar</h2>
    </div>
    <div class="box-body" >
      <div class="col-md-4 text-center" ng-repeat="student in cc.classes[0].students">
        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        <h4>{{student.name}}</h4>
      </div>
    </div>

    <!-- GAMBAR-GAMBAR DALAM KELAS -->
    <div class="box-header alert-info">
      <h2 class="box-title">Gambar Aktiviti</h2>
    </div>
    <div class="box-body" >
      <div class="col-md-4 text-center" ng-repeat="student in cc.classes[0].students">
        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        <h4>Aktiviti {{$index+1}}</h4>
      </div>
    </div>

    <!-- Video  -->
    <div class="box-header alert-info">
      <h2 class="box-title">Video </h2>
    </div>
    <div class="box-body" >
      <div class="col-md-4 text-center" ng-repeat="student in cc.classes[0].students">
        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        <h4>Video {{$index+1}}</h4>
      </div>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->