<!DOCTYPE html>
<html>
<head>
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script> 
    $(function(){
      $("#head").load("head.html"); 
      $("#header").load("header.html"); 
      $("#side-bar").load("side-bar.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 

    <div id="head"></div> 
    
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        
        <!-- header -->
        <div id="header"></div>
        
        <!-- side-bar -->
        <div id="side-bar"></div> 

        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        <!-- //CONTAIN START HERE -->

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    
    <!-- footer -->
    <div id="footer"></div> 

</body>

</html>
