<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.html"><i class="fa fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="treeview">
                <a href="user/index.html"><i class="fa fa-users"></i> <span>Pengguna [admin]</span></a>
                <!-- <ul class="treeview-menu">
                    <li class=""><a href="../user/index.html"><i class="fa fa-circle-o"></i> Senarai Pengguna</a></li>
                    <li class=""><a href="../user/create.html"><i class="fa fa-plus"></i> Tambah Pengguna</a></li>
                </ul> -->
            </li>


            <li>
                <a href="student/index.html"><i class="fa fa-mortar-board"></i>
                    <span>Pelajar [admin/educator]</span>
                </a>
            </li>
            <li>
                <a href=""><i class="fa fa-calendar"></i>
                    <span>Mohon Cuti [parent]</span>
                </a>
            </li>

            <li class="treeview">
                <a href="class/index.html"><i class="fa fa-building"></i> <span>Kelas [admin]</span></a>
                <!-- <ul class="treeview-menu">
                    <li class=""><a href="../class/index.html"><i class="fa fa-circle-o"></i> Senarai Kelas</a></li>
                    <li class=""><a href="../class/create.html"><i class="fa fa-plus"></i> Tambah Kelas</a></li>
                </ul> -->
            </li>

            <li>
                <a href="analytic/index.html"><i class="fa fa-bar-chart"></i>
                    <span>Analysis [admin]</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>