<!DOCTYPE html>
<html>
<head>
    <base href="https://permatakurnia.github.io/"/>
    <div ng-include="'templates/head.html'"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="myApp">
    <div class="wrapper">
        
        <!-- header -->
        <div ng-include="'templates/header.html'"></div>
 
        <!-- side-bar -->
        <div ng-include="'templates/side-bar.html'"></div>
        
        <!-- edit Modal -->
        
        <div class="modal fade" tabindex="-1" role="dialog" id="editClass">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header alert-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ubah Butiran Kelas</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-md-4">Nama Kelas</label>
                    <div class="col-md-8">
                      <input type="text" name="name" class="form-control">
                    </div>
                  
                    <label class="control-label col-md-4">Logo Kelas</label>
                    <form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
                      <div class="dz-message needsclick">
                        Bawak gambar ke ruang kotak ini atau tekan untuk memuat naik gambar. Hanya file jenis jpeg/png/mp4/3gp disokong untuk memuat naik ke dalam sistem<br>
                        
                      </div>
                    </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary">Tukar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <!-- edit Teacher Modal -->
        <div ng-include="'class/teacherModal.html'"></div>
        
        <!-- edit Teacher Modal -->
                
        <div class="modal fade" tabindex="-1" role="dialog" id="uploadMediaModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header alert-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Memuat naik gambar/video</h4>
              </div>
              <div class="modal-body">
                
                <div id="dropzone">
                  <form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
                    <div class="dz-message needsclick">
                      Bawak gambar ke ruang kotak ini atau tekan untuk memuat naik gambar. Hanya file jenis jpeg/png/mp4/3gp disokong untuk memuat naik ke dalam sistem<br>
                      
                    </div>
                  </form>

                </div>
                <div class="col-lg-12">
                  <label>Definasi gambar/video: </label>
                  <input class="form-control" ></input>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary">Tukar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" ng-controller="classCtrl as cc">
            <!-- //CONTAIN START HERE -->

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Butiran Kelas {{cc.classes[0].name}}
                    <small>Menguruskan Kelas  {{cc.classes[0].name}}</small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content"  >
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <h4>Logo Kelas</h4>
                            </span>
                            <div class="info-box-content">
                                <a class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#editClass">Ubah Butiran Kelas</a>
                                <span class="info-box-number">Kelas {{cc.classes[0].name}}</span>
                                <!-- <div class="pull-right">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-success btn-sm raised dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon ion-ios-gear-outline fa"></i>&nbsp;<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu text-center">
                                            <li><a href="">Kemaskini</a></li>        
                                            <li><a href="#delete-work-2" data-toggle="modal">Padam</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-9 tab-content">
                      
                      <!-- <div role="tabpanel" class="tab-pane active" id="all">
                        <div role="tabpanel" class="tab-pane" ng-include="'class/_partials/teacher.html'"></div>

                        <div role="tabpanel" class="tab-pane" ng-include="'class/_partials/student.html'"></div>

                        <div role="tabpanel" class="tab-pane" ng-include="'class/_partials/media.html'"></div>
                      </div> -->
                      
                      <div role="tabpanel" class="tab-pane" id="teacherBox">       
                        <div class="box box-info">
                          <div class="box-header ">
                            <h3 class="box-title"><strong>Senarai Guru </strong></h3>
                          </div>
                          <div class="box-header">
                            <a class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#teacherModal">Tambah Guru</a>
                            <h3 class="box-title">Keseluruhan: {{cc.classes[0].students.length}} of {{cc.classes[0].students.length}}</h3>
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body table-responsive no-padding">
                              <table class="table table-hover">
                                  <tbody>
                                      <tr>
                                        <th>No</th>
                                        <th>Nama Guru</th>
                                        <th>Jawatan</th>
                                      </tr>
                                      <tr ng-repeat="teacher in cc.classes[0].teachers">
                                        <td>{{$index+1}}</td>
                                        <td><a href="">{{teacher.name}}</a> </td>
                                        <td>{{teacher.designation}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                      </div>

                      <div role="tabpanel" class="tab-pane" id="studentBox" >
                        <div class="box box-info">
                          <div class="box-header ">
                            <h3 class="box-title"><strong>Senarai Pelajar </strong></h3>
                          </div>
                          <div class="box-header ">
                            <a class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#studentModal">Tambah Pelajar</a>
                            <h3 class="box-title">Keseluruhan: {{cc.classes[0].students.length}} of {{cc.classes[0].students.length}}</h3>
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body table-responsive no-padding">
                              <table class="table table-hover">
                                  <tbody>
                                      <tr>
                                        <th>No</th>
                                        <th>Nama Pelajar</th>
                                        <th>Gambar</th>
                                      </tr>
                                      <tr ng-repeat="student in cc.classes[0].students">
                                        <td><span>{{$index+1}}</span></td>
                                        <td><a href="student/show.html">{{student.name}}</a> </td>
                                        <td><img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> </td>
                                        <td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                      </div>
                      
                      <div role="tabpanel" class="tab-pane" id="mediaBox" >
                        <div class="box box-info">
                          <div class="box-header ">
                            <h3 class="box-title"><strong>Media </strong></h3>
                          </div>
                          <div class="box-header">
                            <a class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#uploadMediaModal">Tambah media</a>
                            <h2 class="box-title">Gambar pelajar, gambar aktiviti dan video</h2>
                          </div>
                            
                          <!-- /.box-header -->
                          <div class="box-body">

                            <!-- GAMBAR PELAJAR -->
                            <div class="box-header alert-info">
                              <h2 class="box-title">Gambar Pelajar</h2>
                            </div>
                            <div class="box-body" >
                              <div class="col-md-4 text-center" ng-repeat="student in cc.classes[0].students">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <h4>{{student.name}}</h4>
                              </div>
                            </div>

                            <!-- GAMBAR-GAMBAR DALAM KELAS -->
                            <div class="box-header alert-info">
                              <h2 class="box-title">Gambar Aktiviti</h2>
                            </div>
                            <div class="box-body" >
                              <div class="col-md-4 text-center" ng-repeat="student in cc.classes[0].students">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <h4>Aktiviti {{$index+1}}</h4>
                              </div>
                            </div>

                            <!-- Video  -->
                            <div class="box-header alert-info">
                              <h2 class="box-title">Video </h2>
                            </div>
                            <div class="box-body" >
                              <div class="col-md-4 text-center" ng-repeat="student in cc.classes[0].students">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <h4>Video {{$index+1}}</h4>
                              </div>
                            </div>

                          </div>
                          <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                      </div>
                    </div>

                    <!-- side-bar -->
                    <div class="col-md-3" ng-include="'class/mini-side-bar.html'"></div>

                </div>
            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
    </div>

    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="plugins/angular/angular.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
        
        angular.module('myApp', [])
            .controller('classCtrl', classCtrl);

        function classCtrl($scope, $http) {
            var vm = this
            $http.get("data/class.json")
            .success(function(response) {
                vm.classes = response.class
            })
            .error(function(response) {
                console.log(response)
                /* Act on the event */
            });
        }
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="dist/js/app.min.js"></script>
    <script src="plugins/dropzone/dist/min/dropzone.min.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
</body>

</html>